.b1{
    background:red ;
    border:1Px solid red;
  }
  
  .b2{
    background:green;
    border:1Px solid green;
  }
  
  .b3{
    background: blue ;
    border:1Px solid blue;
  }
  
  .b4{
    background:purple ;
    border:1Px solid purple;
  }
  