:root{
    --primary:#ff6348;
    --gray-1:#17191e;
    --gray-2:#efefef;
    --fontfamily:'Montserrat', sans-serif;
    --box-shadow:0px 6px 9px 0px rgb(0 0 0 /15%);
    --box-shadow-nav: rgb(0 0 0 /22%) 0px 2px 18px 0px;
  --text-color:#444;
  }